<input placeholder="search student" class="form-control" ng-model="query">
<div align="left">
    <div class="list-group" >
        <a href="#/student/{{student.studentid}}" class="list-group-item" ng-repeat="student in students | filter:query" >
            <div class="col-md-3 col-sm-3">
                <img src="{{student.imageurl}}" class="img-circle img-responsive" width="20%" height="30px"/>
            </div>

                {{student.name}}


            <div class="col-md-3 col-sm-3">
                {{student.address}}
            </div>
            <div class="col-md-3 col-sm-3">
                {{student.grade}}
            </div>


        </a>
    </div>
</div>